@font-face {
  font-family: "avenir";
  src: url("../font/AvenirLTStd-Book.otf"); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "avenir"; }

h1 {
  margin: 1rem;
  font-size: 2rem; }

h2 {
  margin: 1rem; }

.grillaContacto .seccionContacto .inputTexto, .grillaContacto .seccionContacto textArea {
  opacity: 0.3; }

/* ----------------------- HEADER ---------------------*/
.logo {
  max-width: 120px;
  animation-name: amplioLogo;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #2973d4;
  background: linear-gradient(264deg, #2973d4 8%, rgba(3, 1, 36, 0.879989) 30%, #0e1d32 80%); }

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-items: center; }
  .menu li a {
    color: white;
    text-decoration: none;
    margin: 20px; }
    .menu li a:hover {
      color: #2973d4; }

@keyframes amplioLogo {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(0.95); }
  20% {
    transform: scale(0.9); }
  30% {
    transform: scale(0.85); }
  40% {
    transform: scale(0.8); }
  50% {
    transform: scale(0.75); }
  60% {
    transform: scale(0.8); }
  70% {
    transform: scale(0.85); }
  80% {
    transform: scale(0.9); }
  90% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } }

@media (max-width: 425px) {
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column; }
  .menu {
    flex-direction: column;
    align-items: center; } }

/*------------- FOOTER  -----------------*/
.footer {
  grid-area: footer;
  height: 70px;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  justify-content: flex-end;
  background: #2973d4;
  background: linear-gradient(264deg, #2973d4 8%, rgba(3, 1, 36, 0.879989) 30%, #0e1d32 80%); }
  .footer a i {
    color: #fff;
    padding: 10px;
    font-size: 30px;
    border: #fff 1px solid;
    border-radius: 100%; }

/*---------------------------------------*/
/*----------- INDEX --------------------*/
/*---------------------------------------*/
.grilla {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-areas: "nav nav nav " "seccionPortada seccionPortada  seccionPortada" "footer footer footer ";
  width: 100%;
  height: 100%; }

/*------------- SECCION PORTADA -----------------*/
.seccionPortada {
  grid-area: seccionPortada;
  background-image: url("https://images.unsplash.com/photo-1564069114553-7215e1ff1890?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  background-size: cover; }
  .seccionPortada h1 {
    margin: 1rem;
    font-size: 2rem; }
  .seccionPortada h2 {
    margin: 1rem; }
  .seccionPortada .fotoPortada {
    width: 100%; }
    .seccionPortada .fotoPortada img {
      width: 100%;
      height: 100%; }
  .seccionPortada .contenedorPresentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .seccionPortada .contenedorPresentacionParrafos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #d4f0fc;
    opacity: 0.7; }
  .seccionPortada .contenedorInfoRC {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    padding: 1rem;
    margin: 0.5rem; }
    .seccionPortada .contenedorInfoRC img {
      width: 50%;
      min-width: 230px;
      border: 1px solid #bbb;
      box-shadow: 0 5px 10px #0e1d32; }
  .seccionPortada a {
    color: white; }

@media (max-width: 425px) {
  .contenedorPresentacion {
    flex-direction: column; }
  .contenedorPresentacionParrafos {
    flex-direction: column;
    padding: 0; }
  .contenedorInfoRC {
    flex-direction: column; } }

/*-------------------------------------------------*/
/*--------------- PROPIEDADES -----------------*/
/*-------------------------------------------------*/
/* --------- GRILLA PROPIEDAD*/
.grillaPropiedad {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: "nav nav " "titulo titulo  " "seccionPropiedades  seccionPropiedades " "footer footer ";
  grid-template-rows: 2 auto;
  width: 100%;
  height: 100%; }
  .grillaPropiedad .seccionPropiedades {
    grid-area: seccionPropiedades;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .grillaPropiedad .seccionPropiedades .propiedad {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      border: 1px solid #bbb;
      box-shadow: 0 5px 10px #0e1d32;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem; }
      .grillaPropiedad .seccionPropiedades .propiedad .fotoPropiedad {
        width: 100%; }
      .grillaPropiedad .seccionPropiedades .propiedad p {
        margin: 1rem; }
      .grillaPropiedad .seccionPropiedades .propiedad .precio {
        font-weight: bold;
        text-align: end; }
      .grillaPropiedad .seccionPropiedades .propiedad .ambientes {
        font-weight: bold; }

@media (max-width: 768px) {
  /* Propiedades*/
  .seccionPropiedades {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 425px) {
  .grillaPropiedad .seccionPropiedades {
    grid-template-columns: 1fr; } }

/*-------------------------------------------------*/
/*------------------- SERVICIOS -----------------*/
/*-------------------------------------------------*/
/* ------------- GRILLA SERVICIOS -----------------*/
.grillaServicios {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "nav nav " "titulo titulo  " "seccionServicios  seccionServicios " "footer footer ";
  width: 100%; }
  .grillaServicios .seccionServicios {
    grid-area: seccionServicios;
    background-image: url("../img/blog-post-tasacion.jpg");
    background-size: cover; }
    .grillaServicios .seccionServicios .listaServicios {
      line-height: 48px; }
      .grillaServicios .seccionServicios .listaServicios ul li {
        color: white;
        padding: 5px;
        margin-left: 2rem;
        list-style-type: disc; }
    .grillaServicios .seccionServicios .galeriaServicios {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0.05rem; }
      .grillaServicios .seccionServicios .galeriaServicios img {
        width: 15%;
        transition: all 0.3s;
        border: #0e1d32;
        border-style: solid; }
        .grillaServicios .seccionServicios .galeriaServicios img:hover {
          transform: scale(1.2); }

@media (max-width: 425px) {
  /* Servicios */
  .grillaServicios .seccionServicios .galeriaServicios {
    flex-direction: column;
    align-items: center; }
  .grillaServicios .seccionServicios .galeriaServicios img {
    width: 70%;
    margin-top: 1rem; } }

/*-------------------------------------------------*/
/*--------------- TESTIMONIOS -----------------*/
/*-------------------------------------------------*/
/* --------- GRILLA TESTIMONIO*/
.grillaTestimonio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nav nav " "titulo titulo  " "seccionTestimonios  seccionTestimonios " "footer footer ";
  grid-template-rows: 2 auto;
  width: 100%;
  height: 100%; }
  .grillaTestimonio .seccionTestimonios {
    grid-area: seccionTestimonios;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .grillaTestimonio .seccionTestimonios .testimonio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      background-color: #bbb;
      border: 1px solid #bbb;
      box-shadow: 0 0.3rem 0.5rem #0e1d32;
      margin: auto;
      margin-bottom: 1rem;
      padding: 0.5rem; }
      .grillaTestimonio .seccionTestimonios .testimonio .fotoTestimonio {
        width: 100px;
        height: 90px;
        border-radius: 50%; }

@media (max-width: 425px) {
  .grillaTestimonio .seccionTestimonios {
    grid-template-columns: 1fr; } }

/*-------------------------------------------------*/
/*--------------- CONTACTO  -----------------*/
/*-------------------------------------------------*/
/* ------- GRILA CONTACTO--------------*/
.grillaContacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nav nav " "titulo titulo  " "seccionContacto  seccionContacto " "footer footer ";
  grid-template-rows: 2 auto;
  width: 100%;
  height: 100%; }
  .grillaContacto .seccionContacto {
    grid-area: seccionContacto; }
    .grillaContacto .seccionContacto form {
      padding: 1rem;
      background-image: url("../img/Contacto.jpg");
      background-size: cover;
      padding: 0.5rem; }
    .grillaContacto .seccionContacto input {
      margin: 0.5rem; }
    .grillaContacto .seccionContacto .inputTexto:focus {
      background-color: #0e1d32;
      color: white;
      transform: scale(1.05);
      transition: all 1s; }
    .grillaContacto .seccionContacto textArea {
      margin: 2px;
      resize: none; }
    .grillaContacto .seccionContacto .boton {
      padding: 0.4rem;
      width: 10rem;
      background-color: #2973d4;
      border-radius: 2%; }

@media (max-width: 425px) {
  .formContacto {
    background-color: transparent; }
  .boton {
    padding: 0.5rem;
    background-color: #2973d4; } }
